@import url("./plugin-blocks-overrides.css");

/* 
This CSS aims to cover common "Gutenberg" and "WP Githuber MD" blocks.
However, it's not possible to cover all blocks, since the user could use any
other editor library. So just add block styles as needed.

@tailwindcss/typography handles many styles almost automatically.
*/

.content-container {
  a {
    @apply text-blue-600;
    @apply hover:text-blue-400;
    @apply dark:text-blue-500;
    @apply dark:hover:text-blue-300;
    @apply transition-colors;
    @apply duration-300;
    @apply underline;
  }

  code {
    @apply inline-block;
    @apply border-[1px];
    @apply border-slate-300;
    @apply bg-slate-100;
    @apply dark:bg-slate-700;
    @apply dark:border-slate-900;
    @apply text-pink-500;
    @apply font-mono;
    @apply px-1.5;
    @apply leading-7;
    @apply rounded-md;
    &::after,
    &::before {
      content: "";
    }
  }

  /* Image Block */
  .wp-caption,
  .wp-block-image {
    @apply text-center;
    @apply text-gray-500;
    @apply dark:text-gray-400;
    @apply text-sm;
  }

  p img,
  .wp-caption,
  .wp-block-image img {
    @apply mx-auto;
    @apply max-w-full;
  }

  /* For the WP Mermaid plugin */
  .wp-block-wp-mermaid-block {
    svg {
      @apply mx-auto;
    }
  }

  /* Quote Block */
  /*   
  For multi-paragraph (not <br>) quotes, with the author at the bottom, use something like this
  when using Markdown:

  > Text 1
  >
  > Text 2
  >
  > <cite>Author</cite>
  */

  blockquote,
  .wp-block-quote {
    @apply border-l-4;
    @apply pl-16;
    @apply border-black;
    @apply dark:border-white;

    @apply font-normal;

    cite {
      @apply text-gray-500 dark:text-gray-400;
    }

    p {
      &::before {
        content: "";
      }
      &::after {
        content: "";
      }
    }

    &::before {
      font-family: "Font Awesome 6 Free", sans-serif;
      content: "\f10d";
      @apply -ml-12;
      @apply font-bold;
      @apply text-2xl;
      @apply absolute;
    }
  }
}
