/*
TODO: I have to minify the final CSS output.
*/

@import "./gutenberg.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* TODO: This font is actually rather hard to read, specially when uppercased */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

#MathJax_Message {
	display: none;
}

body {
  @apply font-roboto;
}

h1, h2, h3, h4 {
  @apply font-rajdhani;
}

.main-nav {
  @apply mt-4;
  .menu-item {
    a, button {
      @apply block;
      @apply text-slate-200;
      @apply hover:text-slate-100;
      @apply hover:bg-slate-800;
      @apply p-2;
      @apply rounded-md;
      @apply transition-colors;
      @apply duration-500;
    }
  }
  
  .current-menu-item a {
    @apply text-slate-100;
    @apply font-bold;
    @apply bg-slate-800;
  }

  @media screen(md) {
    .menu {
      @apply inline;
    }

    .menu-item {
      @apply inline-block;
      a, button {
        @apply text-slate-200;
        @apply hover:text-slate-100;
        @apply hover:bg-slate-800;
        @apply p-2;
        @apply rounded-md;
        @apply transition-colors;
        @apply duration-500;
      }
    }
    
    .current-menu-item a {
      @apply text-slate-100;
      @apply font-bold;
      @apply bg-slate-800;
    }
  }    
}

img.custom-logo {
  @apply rounded-full;
}

.content-container {
  /* Default margin-bottom for all blocks. */
  p, ul, ol, div, a, figure, blockquote, h1, h2, h3, h4 {
    @apply mb-10;
  }

  p {
    @apply leading-9;
  }

  a {
    @apply text-blue-600;
    @apply transition-colors;
    @apply duration-300;
    @apply hover:text-blue-400;
  }

  code {
    @apply inline-block;
    @apply border-[1px];
    @apply border-slate-300;
    @apply bg-slate-100;
    @apply font-mono;
    @apply px-1.5;
    @apply rounded-sm;
  }

  ul, ol {
    @apply ml-10;
    @apply list-outside;
  }
  
  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  li {
    @apply pl-1;
    @apply mb-2;
  }

  .MathJax_Display {
    /* TODO: For some reason, this seems to be adding a vertical scroll 
             Check the text in the FFT article that says "For instance, let's say our sequence"
             and then check the mathjax widget below that.
    */
    @apply overflow-x-auto;
  }
}

/* Apply this style only to the Dracula theme. For other themes it doesn't look very good. */
.enlighter-t-dracula.enlighter-default {
  .enlighter-code {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  border-radius: 10px;
}

/* TODO: This styling won't work for all widgets.
        For tag clouds, it breaks lines (it should all be in the same line)
        For categories with post count, it doesn't show the count in the same line.
        Etc.
*/
/* TODO: In order to make the menu items have full width, you have to select stretch-items
         in WP widget editor. It's not very elegant. Maybe I should force it using CSS,
         but perhaps the user wants to not stretch them, so maybe it's useful to have the
         option. */
.sidebar-drawer {
  @apply bg-slate-900;
  @apply p-10;
  @apply text-slate-200;
  
  h1, h2, h3, h4 {
    @apply border-l-4;
    @apply border-l-yellow-200;
    @apply pl-4;
    @apply text-yellow-200;
    @apply text-lg;
  }

  @apply text-sm;
  
  a {
    @apply w-full;
    @apply inline-block;
    @apply hover:bg-slate-800;
    @apply p-2;
    @apply rounded-md;
    @apply duration-300;
    @apply transition-colors;
  }
  .wp-block-group, .sidebar-responsive-menu-container {
    @apply mb-10;
  }

  .menu-sidebar-container {
    .menu-item {
      @apply leading-9;
    }
  }
  
  .widget_block {
    .wp-block-heading {
      @apply mb-2;
    }

    p, ul {
      @apply leading-9;
    }
  }
}
